@import '../../variaveis.module';

.box{
    background-color: $header-color;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 25em;
    padding: 1em;

    &__lista{
        display: flex;
        gap: 5em;
        align-items: center;
        color: white;
        font-family: $header-font;
    }
}