@import '../../variaveis.module';

.boxProdutos{
    display: grid;
    grid-template-columns:  300px 300px 300px 300px;
    gap: 5em;
    padding-left: 25em;
    padding-top: 2em;
}

.boxBotoes{
    display: flex;
    justify-content: center;
    padding-top: 1em;
    justify-content: space-around;
    gap: 44em;

    &__botao{
        font-family: $header-font;
        font-size: 20px;
        padding-right: 3em;
        height: 2em;
        border-width: 1px;
        margin-left: 16.9em;
        background-color: white;
        cursor: pointer;
    }

    &__botao:hover{
        background-color: #dadada;
    }
}